<%= form_for([:admin, @vehicle]) do |f| %>
  <%= render 'admin/shared/forms/errors', model: @vehicle %>

  <div class="row">
    <div class="col-md-8">
      <div class="grid simple">
        <div class="grid-body">
          <div class="form-group">
            <%= f.label :title, "Vehicle Title", class: "form-label" %>
            <div class="controls">
              <%= f.text_field :title, class: "form-control slug-title" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :slug, "Permalink", class: "form-label" %>
            <%= content_tag :span, "Slug used for url must be unique ".html_safe + link_to("(edit)", "#", class: "edit-slug-btn"), class: "help" %>
            <div class="controls">
              <%= f.text_field :slug, class: "form-control slug", readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :overview, class: "form-label" %>
            <div class="controls">
              <%= f.text_area :overview, class: "form-control editor" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :features, "Features and Options", class: "form-label" %>
            <div class="controls">
              <%= f.text_area :features, class: "form-control editor" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :specifications, class: "form-label" %>
            <div class="controls">
              <%= f.text_area :specifications, class: "form-control editor" %>
            </div>
          </div>
        </div><%# /grid-body %>
      </div><%# /grid %>

      <div class="grid simple closed">
        <div class="grid-title no-border">
          <h4>Meta Information</h4>
          <div class="tools">
            <a href="javascript:;" class="expand"></a>
          </div>
        </div>
        <div class="grid-body no-border">

          <div class="form-group">
            <%= f.label :meta_keywords, class: "form-label" %>
            <%= content_tag :span, "Seperate by comma i.e. sample,keywords", class: "help" %>
            <div class="controls">
              <%= f.text_field :meta_keywords, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :meta_description, class: "form-label" %>
            <%= content_tag :span, "155 Characters or less", class: "help" %>
            <div class="controls">
              <%= f.text_area :meta_description, class: "form-control" %>
            </div>
          </div>

        </div><%# /grid-body %>
      </div><%# /grid %>

      <div class="grid simple closed">
        <div class="grid-title no-border">
          <h4>Related Vehicles</h4>
          <div class="tools">
            <a href="javascript:;" class="expand"></a>
          </div>
        </div>
        <div class="grid-body no-border">
          <div class="form-group">
            <div class="controls">
              <% if @vehicle.id %>
                <% for vehicle in Vehicle.where.not(id: @vehicle.id) %>
                  <div class="checkbox">
                    <%= check_box_tag "vehicle[related_vehicle_ids][]", vehicle.id, @vehicle.related_vehicles.include?(vehicle), id: "vehicle_related_vehicle_#{vehicle.id}" %>
                    <%= f.label "related_vehicle_#{vehicle.id}", vehicle.title %>
                  </div>
                  <br>
                <% end %>
              <% else %>
                <% for vehicle in Vehicle.all %>
                  <div class="checkbox">
                    <%= check_box_tag "vehicle[related_vehicle_ids][]", vehicle.id, @vehicle.related_vehicles.include?(vehicle), id: "vehicle_related_vehicle_#{vehicle.id}" %>
                    <%= f.label "related_vehicle_#{vehicle.id}", vehicle.title %>
                  </div>
                  <br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div><%# /grid-body %>
      </div><%# /grid %>
    </div><%# /col-md-8 %>

    <div class="col-md-4">
      <div class="grid simple">
        <div class="grid-body">

          <div class="form-group">
            <%= f.label :visibility, class: "form-label" %>
            <div class="controls">
              <%= f.collection_select :visibility, Page::VISIBILITIES, :to_s, Proc.new {|v| v.to_s.humanize} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :order, class: "form-label" %>
            <div class="controls">
              <%= f.text_field :order, class: "form-control", style: "width: 100px;" %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <div class="checkbox check-primary">
                <%= f.check_box :for_hire %>
                <%= f.label :for_hire, "Available for Hire" %>
              </div>
            </div>
          </div>

          <% if @vehicle.id %>
            <%= submit_tag 'Update', class: "btn btn-danger btn-block" %>
          <% else %>
            <%= submit_tag 'Save', class: "btn btn-danger btn-block" %>
          <% end %>
        </div><%# /grid-body %>
      </div><%# /grid %>

      <div class="grid simple">
        <div class="grid-title no-border">
          <h4>Vehicle Attributes</h4>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
          </div>
        </div>
        <div class="grid-body no-border">

          <div class="form-group">
            <%= f.label :make, class: "form-label" %>
            <div class="controls">
              <%= f.text_field :make, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :model, class: "form-label" %>
            <div class="controls">
              <%= f.text_field :model, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :specification, class: "form-label" %>
            <%= content_tag :span, "Seperate by comma", class: "help" %>
            <div class="controls">
              <%= f.text_field :specification, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :seating_capacity, class: "form-label" %>
            <div class="controls">
              <%= f.text_field :seating_capacity, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :transmission, class: "form-label" %>
            <div class="controls">
              <%= f.text_field :transmission, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :kit, "4x4 Kit", class: "form-label" %>
            <div class="controls">
              <%= f.text_field :kit, class: "form-control" %>
            </div>
          </div>

        </div><%# /grid-body %>
      </div><%# /grid %>

      <div class="grid simple">
        <div class="grid-body">
          <div class="form-group">
            <%= f.label :gallery_id, "Featured Gallery", class: "form-label" %>
            <div class="controls">
              <%= f.collection_select :gallery_id, Gallery.all, :id, :name, include_blank: "Optional" %>
            </div>
          </div>

          <div class="form-group" style="border: 1px dashed #eee; padding: 10px;">
            <%= f.label :featured_image, class: "form-label" %>

            <% if f.object.featured_image_url %>
              <%= image_tag f.object.featured_image_url(:thumb), width: "100%" if f.object.featured_image_url.present? %>

              <div class="checkbox check-danger" style="margin-top: 10px;">
                <%= f.check_box :remove_featured_image %>
                <%= f.label :remove_featured_image %>
              </div>
            <% end %>

            <div class="controls">
              <%= f.file_field :featured_image, style: "border:none" %>
              <%= f.hidden_field :featured_image_cache %>
            </div>
          </div>

          <div class="form-group" style="border: 1px dashed #eee; padding: 10px;">
            <%= f.label :manufacturer_logo, class: "form-label" %>

            <% if f.object.manufacturer_logo_url %>
              <%= image_tag f.object.manufacturer_logo_url(:small), width: "100%" if f.object.manufacturer_logo_url.present? %>

              <div class="checkbox check-danger" style="margin-top: 10px;">
                <%= f.check_box :remove_manufacturer_logo %>
                <%= f.label :remove_manufacturer_logo %>
              </div>
            <% end %>

            <div class="controls">
              <%= f.file_field :manufacturer_logo, style: "border:none" %>
              <%= f.hidden_field :manufacturer_logo_cache %>
            </div>
          </div>

          <div class="form-group" style="border: 1px dashed #eee; padding: 10px;">
            <%= f.label :brochure, class: "form-label" %>

            <% if f.object.brochure_url.present? %>
              <a href="<%= f.object.brochure_url %>" ><%= image_tag f.object.brochure_url(:thumb), width: "100%" %></a>
              <div class="checkbox check-danger" style="margin-top: 10px;">
                <%= f.check_box :remove_brochure %>
                <%= f.label :remove_brochure %>
              </div>
            <% end %>

            <div class="controls">
              <%= f.file_field :brochure, style: "border:none" %>
              <%= f.hidden_field :brochure_cache %>
            </div>
          </div>

        </div><%# /grid-body %>
      </div><%# /grid %>

    </div><%# /col-md-4 %>

  </div><%# /row %>
<% end %>
