<tr>
  <td class="v-align-middle">
    <div class="checkbox check-default">
      <input id="checkbox<%= post_category.id %>" class="row-checkbox" data-id="<%= post_category.id %>" type="checkbox" value="1">
      <label for="checkbox<%= post_category.id %>"></label>
    </div>
  </td>
  <td>
    <%= "-"*post_category.depth %>
    <%= link_to post_category.name, edit_admin_post_category_path(post_category) %>
    <div class="hover-actions">
      <div>
        <%= link_to 'Edit', edit_admin_post_category_path(post_category), class: 'btn btn-warning btn-mini' %>
        <%= link_to 'Delete', admin_post_category_path(post_category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %>
      </div>
    </div>
  </td>
  <td><%= post_category.slug %></td>
  <td><%= post_category.parent.name if post_category.parent %></td>
</tr>
