<%= render 'admin/shared/header' %>

<div class="page-container row">
  <%= render 'admin/shared/sidebar' %>

  <div class="page-content">
    <div class="content">
      <div class="page-title">
        <i class="fa fa-thumb-tack"></i>
        <h3>Post Categories <%= link_to 'Add New', new_admin_post_category_path, class: "btn btn-primary btn-mini" %></h3>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Post Categories</h4>

              <div class="bulk-options">
                <%= form_tag bulk_destroy_admin_post_categories_path, id: "bulk-destroy-form", class: "bulk-action-form" do %>
                  <%= submit_tag "Remove Selected", name: nil, id: "bulk-destroy-btn", class: "btn btn-mini btn-danger" %>
                <% end %>
              </div>
            </div>

            <div class="grid-body no-border">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width:1%" >
                      <div class="checkbox check-default">
                        <input id="checkbox" type="checkbox" value="1" class="checkall">
                        <label for="checkbox"></label>
                      </div>
                    </th>
                    <th width="30%">Name</th>
                    <th>Slug</th>
                    <th>Parent Category</th>
                  </tr>
                </thead>

                <tbody>
                  <%= nested_post_categories @post_categories.arrange(:order => :created_at) %>
                </tbody>
              </table>

              <%= render 'admin/shared/pagination', model: @post_categories %>
            </div><!-- /grid-body -->
          </div><!-- /grid -->
        </div><!-- /col-md-12 -->
      </div><!-- /row -->
    </div><!-- /content -->
  </div><!-- /page-content -->

</div><!-- /page-container -->
