<table class="table">
  <thead>
    <tr>
      <th style="width:1%" >
        <div class="checkbox check-default">
          <input id="checkbox" type="checkbox" value="1" class="checkall">
          <label for="checkbox"></label>
        </div>
      </th>
      <th>Title</th>
      <th width="15%">Author</th>
      <th width="10%"></th>
      <th width="10%">Date</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="v-align-middle">
          <div class="checkbox check-default">
            <input id="checkbox<%= post.id %>" class="row-checkbox" data-id="<%= post.id %>" type="checkbox" value="1">
            <label for="checkbox<%= post.id %>"></label>
          </div>
        </td>
        <td>
          <%= link_to "#{post.title} #{'- <b>Draft</b>' if post.status == 'draft'}".html_safe, edit_admin_post_path(post) %>
          <div class="hover-actions">
            <div>
              <%= link_to 'Edit', edit_admin_post_path(post), class: 'btn btn-warning btn-mini' %>
              <%= link_to 'Delete', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %>
              <%= link_to 'Preview', "/posts/#{post.slug}", class: 'btn btn-primary btn-mini' %>
            </div>
          </div>
        </td>
        <td><%= post.author.name if post.author %></td>
        <td>
          <%= content_tag :span, post.visibility.humanize, class: "label label-inverse" if post.visibility == "private" %>
        </td>
        <td>
          <% if post.status == "published" && post.published_on.present? && post.published_on >= post.created_at && post.published_on >= post.updated_at %>
            <%= post.published_on.strftime("%F") %> <br>
            Published
          <% elsif post.updated_at > post.created_at  %>
            <%= post.updated_at.strftime("%F") %> <br>
            Last Updated
          <% else %>
            <%= post.updated_at.strftime("%F") %> <br>
            Draft
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
